Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Category: <% if @job.category_id.nil? %>
            <%= link_to 'Assign Category', edit_job_path(@job) %>
          <% else %>
            <%= link_to @job.category.title, category_path(@job.category) %>
          <% end %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br>
<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
<%= render partial: 'comments/form' %>
<button><%= link_to 'Edit', edit_company_job_path(@job.company, @job) %></button>
<button><%= link_to "Delete", company_job_path(@job.company, @job), method: :delete %></button>

