
  <h4>New Contact</h4>
  <div class="d-inline-flex flex-row" style='margin-right:50vw;'>
    
  <div class="well"style='display:flex;flex-wrap: wrap;'>
    <%= form_for [@contact.company, @contact] do |f| %>
    <div class="input-group">
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
      <%= f.label :position %>
      <%= f.text_field :position %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.submit %>  
    <% end %>
    </div>
  </div>
</div>  

